@import url(./__triangle/kaufman__triangle.css);
.kaufman {
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: #1f1f1f;
 }